<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.flyme.phy.biz.mapper.UserMapper">
<!--	<resultMap type="House" id="houseResultMap">
		<id column="id" property="id"/>
		<result column="hname" property="hname"/>
		<association property="kind" javaType="Kind">
			<id column="kid" property="id"/>
			<result column="name" property="name"/>
		</association>
	</resultMap>-->

    <select id="login" resultType="com.flyme.phy.biz.bean.User" >
		select * from user
	</select>
	<select id="queryUserByIf" parameterType="map" resultType="com.flyme.phy.biz.bean.User">
		select *
		from user a
		<if test="realName!=null">
			and b.realName=#{realName}
		</if>

	</select>
</mapper>

